<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.springboot.mapper.EmployeeMapper">

  <!--
      resultMap: 设置自定义映射关系
      id: 唯一表示，不能重复
      type: 设置映射关系的实体类类型

      子标签:
        id: 设置主键的映射关系
        result: 设置普通字段的映射关系
        属性:
          property: 设置映射关系中的属性名，必须是type属性所设置的实体类类型中的属性名
          column: 设置映射关系中的字段名，必须是sql语句查询出得字段名
  -->
  <resultMap id="employeeMap" type="com.atguigu.springboot.bean.Employee">
    <id property="eid" column="eid"></id>
    <result property="employeeName" column="employee_name"></result>
    <result property="age" column="age"></result>
    <result property="gender" column="gender"></result>
    <result property="email" column="email"></result>
  </resultMap>

  <!-- Employee getEmployeeById(@Param("id) Integer id); -->
  <select id="getEmployeeById" resultMap="employeeMap">
    select * from t_employee where eid=#{id}
  </select>
</mapper>